.cart-box-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(255, 238, 238);
  margin-top: 20px;
  padding: 10px 10px;
}

.product-image {
  height: 200px;
}

.cart-body {
  padding: 0px 5px;
}

.remove-btn {
  border: none;
  background-color: red;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
}
